<template>
    <div class="row no-gutters" style="flex-grow: 1">
        <div class="col-xl-2 col-lg-6 col-sm-6 col-12 mb-2 px-1" v-if="!disableSearch">
            <form @submit.prevent="search" class="position-relative">
                <input
                    class="form-control has-search"
                    type="text"
                    :placeholder="searchText"
                    v-model="searchQuery"
                />
            </form>
        </div>

        <slot name="filters"></slot>

        <div class="col-12">
            <div class="d-flex justify-content-between" v-if="!!$slots.filters">
                <div>
                    <slot name="buttons"></slot>
                </div>

                <div v-if="!disableFilterButtons">
                    <template v-if="enableIconButtons">
<!--                        <button class="btn btn-outline-secondary btn-sm" @click="filter">-->
<!--                            <font-awesome-icon icon="filter" class="fa-fw" size="1x"></font-awesome-icon>-->
<!--                        </button>-->

                        <button class="btn btn-outline-secondary btn-sm" @click="clear">
                            <font-awesome-icon icon="times" class="fa-fw" size="1x"></font-awesome-icon>
                        </button>
                    </template>

                    <template v-else>
                        <button class="btn btn-primary btn-sm" @click="filter"><slot name="icon"></slot>{{ filterText }}</button>

                        <button class="btn btn-danger btn-sm" @click="clear"><slot name="icon"></slot>{{ clearFiltersText }}</button>
                    </template>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import _ from 'lodash'
import { config } from '../index'

export default {
  name: 'DatatableHeader',

  inject: ['addParam', 'updateTable', 'filters', 'clearFilters', 'disableFilterButtons', 'enableIconButtons', 'selected', 'pageChange'],

  props: {
    disableSearch: Boolean
  },

  watch: {
    filters : {
      handler: function (newValue, oldValue) {
        this.filter(newValue)
      },
      deep: true
    },

    searchQuery : {
      handler: function (newValue, oldValue) {
        this.filter(newValue)
      },
      deep: true
    }
  },

  computed: {
    searchText () {
      return config.lang.searchText || 'Search'
    },

    filterText () {
      return config.lang.filterText || 'Filter'
    },

    clearFiltersText () {
      return config.lang.clearFiltersText || 'Clear filters'
    }
  },

  data () {
    return {
      searchQuery: ''
    }
  },

  methods: {
    search () {
      this.addParam('q', this.searchQuery)
      this.updateTable()
    },

    filter (filters) {
      _.each(filters, (filter, key) => {
        let values = _.map(filter, 'value')

        this.addParam(key, _.join(values, ','))
      })

      this.addParam('q', this.searchQuery)

      this.pageChange(1)
    },

    clear () {
      this.searchQuery = ''
      this.addParam('q', this.searchQuery)
      this.clearFilters()
    }
  }
}
</script>
