<template>
    <div class="card">
        <div class="card-header" v-if="!disableHeader">
            <wi-table-header
                :disable-pagination="disablePagination"
                :disable-search="disableSearch"
                :per-page="perPage"
            >
                <template slot="filters">
                    <slot :columns="columns" :filters="filters" :selected="selected" name="filtersForm"></slot>
                </template>

                <template slot="buttons">
                    <slot :clear-filters="clearFilters" name="filterButtons"></slot>
                    <slot :selected="selected" name="batchActions"></slot>
                </template>
            </wi-table-header>
        </div>

        <div class="card-body position-relative">
            <div v-if="dataLoading" class="loadingOverlay">
                <div class="spinner-border text-primary" role="status"></div>
            </div>

            <div class="table-responsive">
                <table class="table datatable">
                    <thead>
                    <tr>
                        <th v-if="showSelect" width="1%">
                            <div class="position-relative">
                                <div class="custom-control custom-checkbox pr-4" style="cursor: pointer">
                                    <div
                                        @click="showSelectFilerBox = !showSelectFilerBox"
                                        class="custom-select-background"
                                    >
                                        <input
                                            class="custom-control-input"
                                            type="checkbox"
                                            v-model="selectAll"
                                        >

                                        <label class="custom-control-label "></label>
                                    </div>
                                </div>

                                <div
                                    class="select-filter-box"
                                    v-if="showSelectFilerBox"
                                    v-on-clickaway="close"
                                >
                                    <div class="custom-control custom-checkbox">
                                        <input
                                            class="custom-control-input"
                                            id="selectAll"
                                            type="checkbox"
                                            v-model="selectAll"
                                        >

                                        <label class="custom-control-label pb-2" for="selectAll">Select page</label>
                                    </div>

                                    <div class="custom-control custom-checkbox">
                                        <input
                                            class="custom-control-input"
                                            id="selectAllOcc"
                                            type="checkbox"
                                            v-model="selectAllOcc"
                                        >

                                        <label class="custom-control-label" for="selectAllOcc">
                                            Select all ({{ pagination.total }})
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </th>

                        <slot></slot>

                        <th v-if="!!$scopedSlots.actions" width="1%"></th>
                    </tr>
                    </thead>

                    <tbody v-if="!dataLoading && !data.data.length">
                    <tr>
                        <td :colspan="columns.length + (showSelect ? 1 : 0) + (!!$scopedSlots.actions ? 1 : 0)" class="text-center">{{ noDataText }}
                        </td>
                    </tr>
                    </tbody>

                    <tbody v-else>
                    <tr
                        :class="rowClass(item)"
                        :key="index"
                        v-for="(item, index) in data.data"
                    >
                        <td v-if="showSelect" width="1%">
                            <div class="custom-control custom-checkbox">
                                <input
                                    :disabled="item.accepted_at"
                                    :id="item.id"
                                    :value="item.id"
                                    class="custom-control-input"
                                    type="checkbox"
                                    v-model="selected.ids"
                                >

                                <label :for="item.id" class="custom-control-label"></label>
                            </div>
                        </td>

                        <td
                            :class="{ [column.class]: true, 'clickable': !!column.click }"
                            :key="cIndex"
                            @click="!!column.click ? column.click(item) : () => {}"
                            v-for="(column, cIndex) in cols"
                            v-html="column.render(item)"
                        ></td>

                        <td class="td-buttons" v-if="!!$scopedSlots.actions">
                            <slot :item="item" name="actions"></slot>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row d-flex justify-content-between" v-if="!disablePagination">
                <div class="form-group col-auto mt-2">
                    <div class="input-group">
                        <select
                            :value="perPage"
                            @change="changePerPage"
                            class="form-control custom-select"
                        >
                            <option
                                :key="option"
                                :selected="option === perPage"
                                :value="option"
                                v-for="option in [10, 25, 50, 100]"
                            >
                                {{ option }}
                            </option>
                        </select>
                    </div>
                </div>

                <Pagination
                    @btnClick="pageChange"
                    class="d-flex justify-content-end"
                    v-bind="pagination"
                ></Pagination>
            </div>
        </div>
    </div>
</template>

<script>
import NewDatatableHeader from './DatatableHeader'
import Pagination from './Pagination'
import { config } from '../index'
import { mixin as clickaway } from 'vue-clickaway'

export default {
  name: 'Datatable',

  mixins: [clickaway],

  props: {
    fetchCallback: Function,
    disableSearch: {
      type: Boolean,
      default: false
    },
    disableHeader: {
      type: Boolean,
      default: false
    },
    disableFilterButtons: {
      type: Boolean,
      default: false
    },
    enableIconButtons: {
      type: Boolean,
      default: false
    },
    disablePagination: {
      type: Boolean,
      default: false
    },
    showSelect: {
      type: Boolean,
      default: false
    },
    filtersCleared: {
      type: Function,
      default: () => {
      }
    },
    defaultParams: {
      type: Object,
      default: () => {
        return { sort: null, order: 'desc' }
      }
    },
    rowClass: {
      type: Function,
      default: () => {
      }
    },
    visibleColumns: [Array, Boolean]
  },

  components: {
    'wi-table-header': NewDatatableHeader,
    'Pagination': Pagination
  },

  mounted () {
    this.updateTable()
  },

  provide () {
    const colsGetter = {}

    Object.defineProperty(colsGetter, 'getter', {
      get: () => this.visibleColumns
    })

    return {
      register: this.registerColumn,
      addParam: this.addParam,
      clearFilters: this.clearFilters,
      updateTable: this.updateTable,
      filters: this.filters,
      buttons: this.buttons,
      params: this.params,
      sort: this.sort,
      disableFilterButtons: this.disableFilterButtons,
      enableIconButtons: this.enableIconButtons,
      visibleColumns: colsGetter,
      selected: this.selected,
      pageChange: this.pageChange
    }
  },

  data () {
    return {
      data: {
        data: [],
        meta: {},
        links: {}
      },
      columns: [],
      params: {
        sort: this.defaultParams.sort || null,
        order: this.defaultParams.order || 'desc'
      },
      pages: [],
      filters: {},
      buttons: {},
      selected: {
        ids: [],
        params: {}
      },
      showSelectFilerBox: false,
      newColArray: [],
      dataLoading: true
    }
  },

  computed: {
    pagination () {
      return this.data.meta
        ? {
          currentPage: this.data.meta.current_page,
          lastPage: this.data.meta.last_page,
          perPage: this.data.meta.per_page,
          total: this.data.meta.total,
          totalPages: this.data.meta.last_page
        } : {
          currentPage: 1,
          perPage: 10,
          lastPage: 1,
          total: 0,
          totalPages: 1
        }
    },

    perPage () {
      return parseInt(this.params.per_page || this.pagination.perPage)
    },

    noDataText () {
      return config.lang.noDataText || 'No data found.'
    },

    selectAll: {
      get () {
        return this.data.data.length > 0 && this.selected.ids.length === this.data.data.length
      },

      set (value) {
        this.resetSelected()

        if (value) {
          this.data.data.forEach((item) => {
            this.selected.ids.push(item.id)
          })
        }
      }
    },

    selectAllOcc: {
      get () {
        return this.selectAll && Object.keys(this.selected.params).length > 0
      },

      set (value) {
        this.selectAll = value

        if (value) {
          this.selected.params = Object.assign({}, this.params)
        }
      }
    },

    cols () {
      if (!this.visibleColumns || _.isEmpty(this.visibleColumns)) return this.columns

      return _.filter(this.columns, column => {
        return _.includes(this.visibleColumns, column.field)
      })
    }
  },

  methods: {
    close () {
      this.showSelectFilerBox = false
    },

    updateTable () {
      this.dataLoading = true
      this.fetchCallback(this.params).then(data => {
        this.resetSelected()
        this.data = data
      }).finally(() => {
        this.dataLoading = false
      })
    },

    resetSelected () {
      this.selected = {
        ids: [],
        params: {}
      }
    },

    registerColumn (column) {
      this.columns.push(column)
    },

    pageChange (page) {
      if (page < 1 || page > this.pagination.lastPage) {
        return
      }

      this.addParam('page', page)
      this.updateTable()
    },

    sort (field) {
      if (this.params.sort === field) {
        this.addParam('order', this.params.order === 'desc' ? 'asc' : 'desc')
      } else {
        this.addParam('sort', field)
        this.addParam('order', 'asc')
      }

      this.updateTable()
    },

    addParam (param, value) {
      this.$set(this.params, param, value)
    },

    clearFilters () {
      this.filtersCleared()

      Object.keys(this.filters).forEach((filter) => {
        this.$set(this.params, filter, null)
        this.$set(this.filters, filter, null)
      })

      this.updateTable()
    },

    changePerPage (event) {
      this.addParam('per_page', event.target.value)
      this.updateTable()
    }
  }
}
</script>

<style>
    .custom-select-background {
        vertical-align: middle;
        background: url("../images/down-arrow.svg") no-repeat right 0.5rem center/13px 12px #fff;
        width: 30px;
        height: 30px;
        margin: 0;
        position: absolute;
        top: -2px;
    }

    .select-filter-box {
        position: absolute;
        background-color: #fff;
        top: 30px;
        display: flex;
        flex-direction: column;
        width: max-content;
        padding: 10px;
        border-radius: 0.375rem;
        border: 1px solid #e1e4eb;
        z-index: 9;
    }

    .clickable {
        cursor: pointer;
    }

    .loadingOverlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
