<template>
    <th @click="sortable ? sort(field) : ''" v-if="checkVisibility">
        <span :class="{'sortable': sortable, 'text-nowrap': sortable}">
            <slot></slot>

            <span class="ml-2" v-if="sortable">
                <font-awesome-icon :icon="sortIcon"></font-awesome-icon>
            </span>
        </span>
    </th>
</template>

<script>
import _ from 'lodash'
import { library } from '@fortawesome/fontawesome-svg-core'
import { faSortUp, faSortDown, faSort } from '@fortawesome/free-solid-svg-icons'
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome'

library.add([faSortUp, faSortDown, faSort])

export default {
  name: 'DatatableColumn',

  inject: ['register', 'params', 'sort', 'visibleColumns'],

  components: {
    'font-awesome-icon': FontAwesomeIcon
  },

  props: {
    field: {
      type: String,
      required: true
    },
    sortable: {
      type: Boolean,
      default: false
    },
    render: {
      type: Function,
      default: function (item) {
        return _.get(item, this.field, '-')
      }
    },
    click: {
      type: Function,
      default: null
    }
  },

  computed: {
    sortIcon () {
      if (this.params.sort !== this.field) {
        return 'sort'
      }

      return this.params.order === 'desc' ? 'sort-down' : 'sort-up'
    },

    checkVisibility () {
      let visibleColumns = this.visibleColumns.getter

      if (!visibleColumns || _.isEmpty(visibleColumns)) return true

      if (visibleColumns)
        return visibleColumns.includes(this.field)

      return true
    }
  },

  mounted () {
    this.register({
      field: this.field,
      class: this.$el.className,
      sortable: this.sortable,
      render: this.render,
      click: this.click,
      text: this.$slots.default[0].text
    })
  }
}
</script>
