<template>
    <ul v-if="totalPages < 8" class="pagination">
        <li v-if="withNextPrev" :class="disablePrev">
            <a @click="!disablePrev ? prev() : ''">
                {{ prevText }}
            </a>
        </li>

        <li v-for="n in totalPages" :key="n" :class="{ 'active': n === selected }">
            <a @click="n !== selected ? goTo(n) : ''">{{ n }}</a>
        </li>

        <li v-if="withNextPrev" :class="disableNext">
            <a @click="!disableNext ? next() : ''">
                {{ nextText }}
            </a>
        </li>
    </ul>

    <ul v-else-if="totalPages >= 8" class="pagination">
        <li v-if="withNextPrev" :class="disablePrev">
            <a @click="!disablePrev ? next() : ''">
                {{ prevText }}
            </a>
        </li>

        <li v-for="(n, index) in shownPages" :key="index"
            :class="n.content === selected ? 'active' : '' + n.disable">
            <a v-if="n.disable !== 'disabled'" @click="n.content !== selected ? goTo(n.content) : ''">{{ n.content }}</a>
            <a v-else>{{ n.content }}</a>
        </li>

        <li v-if="withNextPrev" :class="disableNext">
            <a @click="!disableNext ? prev() : ''">
                {{ nextText }}
            </a>
        </li>
    </ul>
</template>

<script>
import { config } from '../index'

export default {
  name: 'Pagination',

  props: {
    totalPages: {
      type: Number,
      default: 0
    },
    currentPage: {
      type: Number,
      default: 1
    },
    pageRange: {
      type: Number,
      default: 3
    },
    withNextPrev: {
      type: Boolean,
      default: true
    }
  },

  data () {
    return {
      selected: this.currentPage
    }
  },

  computed: {
    nextText () {
      return config.lang.nextText || 'Next'
    },

    prevText () {
      return config.lang.prevText || 'Previous'
    },

    pages: function () {
      let items = []

      for (let i = 0; i < this.totalPages; i++) {
        items[i] = {
          content: i + 1,
          disable: '',
          show: false
        }
      }

      let page1 = {
        content: '...',
        disable: 'disabled',
        show: false
      }

      let page2 = {
        content: '...',
        disable: 'disabled',
        show: false
      }

      items.splice(1, 0, page1)
      items.splice(items.length - 1, 0, page2)

      for (let i = 0; i < items.length; i++) {
        if (i === 0 || i === items.length - 1) { items[i].show = true }

        if (this.selected <= this.pageRange) {
          if (this.selected === this.pageRange) {
            if (i >= 2 && i <= this.pageRange + 1) { items[i].show = true }
          } else {
            if (i >= 2 && i <= this.pageRange) { items[i].show = true }
          }

          items[items.length - 2].show = true
        } else if (this.selected > this.pageRange) {
          if (i >= this.selected - 1 && (this.selected + 2) < items.length - 2 && i <= this.selected + 1) {
            items[1].show = true
            items[items.length - 2].show = true
            items[i].show = true
          } else if (i >= items.length - 2 - this.pageRange && (this.selected + 2) >= items.length - 2) {
            items[1].show = true
            items[items.length - 2].show = false
            items[i].show = true
          }
        }
      }

      return items
    },

    shownPages () {
      return this.pages.filter(page => page.show === true)
    },

    disablePrev () {
      return this.selected === 1 ? 'disabled' : ''
    },

    disableNext () {
      return this.selected === this.totalPages ? 'disabled' : ''
    }
  },

  methods: {
    goTo (page) {
      this.selected = page
      this.$emit('btnClick', page)
    },

    next () {
      this.goTo(++this.selected)
    },

    prev () {
      this.goTo(--this.selected)
    }
  }
}
</script>
